@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


body{
  margin: 0;
  padding: 0;
  background:  #ECF0F5 !important;
  font-family: "Comfortaa" !important;

}

.wrapper{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

header{
  position: relative;
  height: 1000px;
  background: url("https://media.istockphoto.com/photos/little-boy-having-fun-with-friends-in-park-blowing-bubbles-picture-id517675430?s=2048x2048");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.gradient{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  color: white;
}
.slogan{
  height: auto;
  margin-top: 40vh;

  font-size: 4em;
}
.description{
  width: 100%;
  max-width: 800px;
  padding: 5px;
}
.butn{
  width: 200px;
  height: 55px;
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  border: none;
  background: #f7415f;
  color: white;
  font-family: "Comfortaa";
  font-size: 1.5rem !important;
  cursor: pointer;
  transition: 0.2s;
  &-sign{
    background: #f75242;
  }
  &-log{
    background: #408EBA;
  }
  &:hover{
    transform: scale(1.1);
  }
}
.topbar{
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 10;
  transition: 0.2s;
  .brand{
    float: left;
    line-height: 50px;
    font-size: 40px;
    font-family: "Comfortaa";
    transition: 0.3s;
    text-shadow: 0px 0px 5px rgb(108, 107, 107);
  }
  .menu{
    float: right;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    cursor: pointer;
  }
}

.section{
  position: relative;
  z-index: 2;
  color: #424242;
  width: 100%;
  overflow: hidden;
  &-first{

    .column{

      span{
        display: block;
        width: 100%;
        max-width: 400px;
        margin: auto;
        margin-top: 0;
        font-weight: bold;
        font-size: 40px;
        text-align: left;
        transform: translate(0px, 0px);
      }
      .feature{

        &-list{
          display: block;
          opacity: 1;
          width: 100%;
          list-style-type: none;
          font-size: 20px;
          font-weight: bold;
          margin-top: 0;
          transform: translate(0px, 0px);
        }

      }
      }
    }

    .is-showing{
      opacity: 1 !important;
      transform: translateY(0px) !important;

    }

    &-second{
      height: auto;
      padding-top: 50px;
      padding-bottom: 50px;
        .feature-container{
          width: 300px;
          height: 450px;
          background: white;
          margin: auto;
          margin-top: 20px;
          box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
          opacity: 0;
          transform: translateY(20px);
          transition: 0.3s;
          .feature-img{
            width: 100%;
            height: 300px;
            background: blue;
            color: white;
            text-align: center;
            font-size: 100px;
            .fas{
              line-height: 300px;
            }

            &-sms{
              background: #74eb75;
            }
            &-gps{
              background: #af74eb;
            }
            &-calls{
              background: #EA747D;
            }
            &-photos{
              background: #eb9b74;
            }
            &-social{
              background: #da74eb;
            }
            &-remote{
              background: #ebe274;
            }

          }
          .feature-desc{
            height: 100%;
            font-family: "Comfortaa";
            padding: 10px;
            text-align: justify;
          }
        }

    }
  }

  .sideMenu{
    position: fixed;
    height: 100vh;
    width: 100vw;
    right: 0;
    top: 0;
    background:#e3e3e3;
    opacity: 0.9;
    z-index: 9;
    transform: translateX(100vw);
    transition: 0.5s;
    overflow-x:scroll;
    &-items{
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      margin-top: 100px;
      text-align: center;
      transition: 0.5s;
      transform: translateX(1000px);
      li{
        width: 100%;
        float: left;
        font-size: 60px;
        font-family: "Comfortaa";
        padding-top: 30px;
        cursor: pointer;
        transition: 0.2s;

        &:hover{
          color: white;

        }
      }
    }
  }

  .column{
    span{
      display: block;
      width: 100%;
      max-width: 400px;
      margin: auto;
      font-weight: bold;
      text-align: left;
      transform: translateY(100vh);
    }
    .feature{

      &-list{
        display: block;
        opacity: 1;
        width: 100%;
        transform: translateY(75vh);
        list-style-type: none;
        font-size: 30px;
        font-weight: bold;
      }

    }
    }

  .section-second{
    height: auto;
    color: black !important;
    padding-top: 100px;
    padding-bottom: 100px;
    .featureIcon{
      font-size: 30px;
      margin-bottom: 20px;
    }
    .iconCont{
      opacity: 0;
      transition: 0.3s all ease-in-out;
      transform: translateX(20px);
      margin-top: 50px;
    }
    .is-showing{
      opacity: 1;
      transform: translateX(0px);
    }
  }

  footer{
    width: 100%;
    height: auto;
    min-height: 300px;
    padding-top: 100px;
    color: white;
    background: #1F282C;
a{
  color: white;
  text-decoration: none;
}
  }
