body{
  margin: 0;
  padding: 0;
}
header{
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: white;
}
.backgroundblur{
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: blur(10px);
  background: url("https://media.istockphoto.com/photos/little-boy-having-fun-with-friends-in-park-blowing-bubbles-picture-id517675430?s=2048x2048");
  background-size: cover;
  background-position: top center ;
  transform: scale(1.1);
}
.logo{
  display: block;
  position: absolute;
  width: 400px;
  height: 120px;
  text-align: center;
  padding: 0;
  top: calc(50% - 100px);
  left: 10%;
  font-size: 120px;
  color: #EFEFEF;
  text-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
}
.slogan{
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 30px;
  left: 10%;
  opacity: 0;
}
.fore-phone{
  position: absolute;
  width: 400px;
  height: 700px;
  bottom: -350px;
  right: 20px;

  background: url("https://1.bp.blogspot.com/-RnYad5IQAEE/WOQ3iHF8guI/AAAAAAAAChY/WbPCK4LUM-EyyXHrJYA7LRQLpRalFxvuACLcB/s640/Untitled_document3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position:bottom;
}

.section{
  position: relative;
  z-index: 2;
  color: #424242;
  width: 100%;
  overflow: hidden;
  &-first{
    height: 100vh;
    .column{
      span{
        display: block;
        width: 100%;
        max-width: 400px;
        margin: auto;
        font-weight: bold;
        text-align: left;
        transform: translateY(100vh);
      }
      .feature{

        &-list{
          display: block;
          opacity: 1;
          width: 100%;
          transform: translateY(75vh);
          list-style-type: none;
          font-size: 30px;
          font-weight: bold;
        }

      }
      }
    }

    &-second{
      height: 100vh;
      margin-bottom: 400px;
      .featureIcon{
        font-size: 30px;

      }
      .iconCont{
        opacity: 0;
        transition: 0.3s all ease-in-out;
        transform: translateX(20px);
      }
      .is-showing{
        opacity: 1;
        transform: translateX(0px);
      }
    }

}
main{
  position: relative;
  z-index: 2;
  background-color: white;
}
footer{
  position: fixed;
  width: 100%;
  height: 400px;
  bottom: 0;
  background: black;
  z-index: 0;
  a{
    color: white;
  }
  .row{
    margin-top: 150px;
  }
}
